<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar"
    aria-controls="sidebar-multi-level-sidebar" type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
        </path>
    </svg>
</button>
<!--! navigation -->
<aside id="sidebar-multi-level-sidebar"
    class="fixed bottom-0 top-0 left-0 z-50  mx-2 my-2 transition-transform -translate-x-full sm:translate-x-0 "
    aria-label="Sidebar">
    <div
        class="h-full  py-4 overflow-y-auto bg-slate-950 rounded-3xl flex flex-col items-center justify-around px-5 shadow-2xl/20">
        <a
            class="flex items-center  text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <img src="images/logo-dark.png" alt="logo" class="h-10 ">
        </a>
        <ul class="space-y-2 font-medium ">
            <li class="hover:bg-gray-300 hover:text-red-600 rounded-lg text-white transition duration-200 group">
                <a routerLink="/chat-ai" routerLinkActive="bg-gray-300 text-red-600"
                    class="flex items-center p-2  rounded-lg group">
                    <svg class="shrink-0 w-7 h-7  " xmlns="http://www.w3.org/2000/svg"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 3v17.25m0 0c-1.472 0-2.882.265-4.185.75M12 20.25c1.472 0 2.882.265 4.185.75M18.75 4.97A48.416 48.416 0 0 0 12 4.5c-2.291 0-4.545.16-6.75.47m13.5 0c1.01.143 2.01.317 3 .52m-3-.52 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.988 5.988 0 0 1-2.031.352 5.988 5.988 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L18.75 4.971Zm-16.5.52c.99-.203 1.99-.377 3-.52m0 0 2.62 10.726c.122.499-.106 1.028-.589 1.202a5.989 5.989 0 0 1-2.031.352 5.989 5.989 0 0 1-2.031-.352c-.483-.174-.711-.703-.59-1.202L5.25 4.971Z" />
                    </svg>
                </a>
            </li>
            <li routerLink="/chat-with-lawyer" routerLinkActive="bg-gray-300 !text-red-600"
                class="hover:bg-gray-300 hover:text-red-600 rounded-lg text-white transition duration-200 group">
                <a class="flex items-center p-2 rounded-lg  group">
                    <svg class="shrink-0 w-6 h-6   " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        fill="currentColor">
                        <path
                            d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875 0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
                    </svg>
                </a>
            </li>
            <li routerLink="/payment" routerLinkActive="bg-gray-300 text-red-600"
                class="hover:bg-gray-300 hover:text-red-600 rounded-lg text-white transition duration-200 group">
                <a class="flex items-center p-2 rounded-lg group">
                    <svg class="shrink-0 w-7 h-7  " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
                    </svg>
                </a>
            </li>
        </ul>

        <button routerLink="/profile" routerLinkActive="bg-red-700"
            class="flex justify-center items-center w-10 h-10 mt-28 mb-4 rounded-full shadow-md bg-gradient-to-r from-[#ff0000] to-[white] hover:from-[red] hover:to-[#e23737] hover:cursor-pointer hover:scale-110 duration-300">
            <svg viewBox="0 0 15 15" class="w-7 fill-gray-700">
                <path
                    d="M7.5 0.875C5.49797 0.875 3.875 2.49797 3.875 4.5C3.875 6.15288 4.98124 7.54738 6.49373 7.98351C5.2997 8.12901 4.27557 8.55134 3.50407 9.31167C2.52216 10.2794 2.02502 11.72 2.02502 13.5999C2.02502 13.8623 2.23769 14.0749 2.50002 14.0749C2.76236 14.0749 2.97502 13.8623 2.97502 13.5999C2.97502 11.8799 3.42786 10.7206 4.17091 9.9883C4.91536 9.25463 6.02674 8.87499 7.49995 8.87499C8.97317 8.87499 10.0846 9.25463 10.8291 9.98831C11.5721 10.7206 12.025 11.8799 12.025 13.5999C12.025 13.8623 12.2376 14.0749 12.5 14.0749C12.7623 14.075 12.975 13.8623 12.975 13.6C12.975 11.72 12.4778 10.2794 11.4959 9.31166C10.7244 8.55135 9.70025 8.12903 8.50625 7.98352C10.0187 7.5474 11.125 6.15289 11.125 4.5C11.125 2.49797 9.50203 0.875 7.5 0.875ZM4.825 4.5C4.825 3.02264 6.02264 1.825 7.5 1.825C8.97736 1.825 10.175 3.02264 10.175 4.5C10.175 5.97736 8.97736 7.175 7.5 7.175C6.02264 7.175 4.825 5.97736 4.825 4.5Z">
                </path>
            </svg>
        </button>
        <button
            class="group flex items-center justify-start w-10 h-10 bg-red-600 rounded-full cursor-pointer relative overflow-hidden transition-all duration-200 shadow-lg hover:w-32 hover:rounded-lg active:translate-x-1 active:translate-y-1">
            <div
                class="flex items-center justify-center w-full transition-all duration-300 group-hover:justify-start group-hover:px-3">
                <svg class="w-4 h-4" viewBox="0 0 512 512" fill="white">
                    <path
                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                    </path>
                </svg>
            </div>
            <div
                class="absolute right-5 transform translate-x-full opacity-0 text-white text-lg font-semibold transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                Logout
            </div>
        </button>
    </div>
</aside>
<!--! navigation -->
<!--! details -->
<aside id="sidebar-multi-level-sidebar"
    class="fixed bottom-0 top-0 left-20 z-40 w-80 mx-2 my-6 transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-200 rounded-3xl rounded-l-none ">
        <h2 class="text-3xl font-medium mx-3 my-6">Messeges</h2>
        <div class="btn text-center">

            <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation"
                class="btn bg-slate-950  px-26 py-3 rounded-xl text-white shadow-2xl/100 font-medium hover:bg-red-800"
                type="button">Start a chat
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownInformation"
                class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                    <div>Choose Law topic</div>
                    <div class="font-medium truncate">Choose Law topic</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Muhammed</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Karim</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Family
                            Law</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">International
                            Law</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Cybercrime
                            & Internet Law</a>
                    </li>
                </ul>
                <div class="py-2">
                    <a href="#"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                        out</a>
                </div>
            </div>
        </div>
        <div class=" mt-10 mb-10">
            <div class="lawyer flex items-center justify-between mb-6 rounded-2xl bg-white p-4 shadow-2xl">

                <div class="relative w-10 h-10 overflow-hidden bg-gray-400 rounded-full ">

                    <svg class=" absolute w-8 h-8 bottom-0 right-1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                            clip-rule="evenodd" />
                    </svg>

                </div>

                <div class="det mx-3">
                    <div class="flex justify-between items-center">
                        <h5 class="text-lg font-medium">Muhammed </h5>

                    </div>

                    <p class="font-medium text-sm">How can I help you?</p>
                </div>
                <p class="mb-auto text-xs font-medium">6:15 PM</p>
            </div>
            <div class="lawyer flex items-center justify-between mb-6 rounded-2xl bg-white p-4 shadow-2xl">

                <div class="relative w-10 h-10 overflow-hidden bg-gray-400 rounded-full ">

                    <svg class=" absolute w-8 h-8 bottom-0 right-1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                            clip-rule="evenodd" />
                    </svg>

                </div>

                <div class="det mx-3">
                    <div class="flex justify-between items-center">
                        <h5 class="text-lg font-medium">Muhammed </h5>

                    </div>

                    <p class="font-medium text-sm">How can I help you?</p>
                </div>
                <p class="mb-auto text-xs font-medium">6:15 PM</p>
            </div>
            <div class="lawyer flex items-center justify-between mb-6 rounded-2xl bg-white p-4 shadow-2xl">

                <div class="relative w-10 h-10 overflow-hidden bg-gray-400 rounded-full ">

                    <svg class=" absolute w-8 h-8 bottom-0 right-1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                            clip-rule="evenodd" />
                    </svg>

                </div>

                <div class="det mx-3">
                    <div class="flex justify-between items-center">
                        <h5 class="text-lg font-medium">Muhammed </h5>

                    </div>

                    <p class="font-medium text-sm">How can I help you?</p>
                </div>
                <p class="mb-auto text-xs font-medium">6:15 PM</p>
            </div>
        </div>
    </div>
</aside>
<!--! details -->
<!--! chat -->
<div class="p-4 sm:ml-80 ">
    <div class="title mx-40 mt-5 mb-5 flex items-center justify-between border-b-1 border-gray-300 px-2 py-4 ">
        <div class="flex items-center">
            <div class="relative w-10 h-10 overflow-hidden bg-gray-400 rounded-full ">
                <svg class=" absolute w-8 h-8 bottom-0 right-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <h1 class="text-2xl font-medium mx-3">Muhammed</h1>
        </div>
        <div class="icons bg-gray-50">
            <span routerLink="/profile"
                class="hover:rounded-full hover:shadow-2xl/50 hover:bg-white py-4 px-1 transition-all duration-300">
                <i class="fa-solid fa-pen text-xl text-slate-950 px-4 "></i>
            </span>
            <span
                class="hover:rounded-full hover:shadow-2xl/50 hover:bg-white py-4 px-1 transition-all duration-300 ms-2">
                <i class="fa-solid fa-gear text-xl text-slate-950 px-4 "></i>
            </span>
        </div>
    </div>
    <div class="chat   mx-40">
        <div class=" p-10 grid grid-cols-1 gap-4 font-medium bg-gray-100 rounded-3xl shadow-2xl/20">
            <div class="request bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[25%] ms-auto rounded-tr-none">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="response rounded-bl-none bg-red-50 text-slate-950  p-6 rounded-2xl shadow-2xl/20 w-[45%]">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo voluptatibus commodi, iure
                    perspiciatis porro.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo
                    voluptatibus
                    commodi, iure
                    perspiciatis porro.</p>
            </div>
            <div class="request rounded-tr-none bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[35%] ms-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="response rounded-bl-none bg-red-50 text-slate-950  p-6 rounded-2xl shadow-2xl/20 w-[40%]">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo voluptatibus commodi, iure
                    perspiciatis porro.</p>
            </div>
            <div class="request rounded-tr-none bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[45%] ms-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque commodi qui quas aliquam similique
                    libero.
                </p>
            </div>
            <div class="input  mt-8 ">
                <form class="flex items-center  mx-auto">
                    <label for="voice-search" class="sr-only">Search</label>
                    <div class="relative w-full">
                        <input type="text" id="voice-search"
                            class="bg-gray-200 border border-gray-200 text-gray-900 text-sm rounded-3xl  block w-full ps-10 p-5  "
                            placeholder="Ask anything..." required />
                        <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 7v3a5.006 5.006 0 0 1-5 5H6a5.006 5.006 0 0 1-5-5V7m7 9v3m-3 0h6M7 1h2a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V4a3 3 0 0 1 3-3Z" />
                            </svg>
                        </button>
                    </div>
                    <button type="submit"
                        class="inline-flex items-center ms-2 text-sm font-medium text-white bg-slate-900 rounded-3xl p-5 shadow-2xl/30  hover:bg-slate-800 border border-slate-900 ">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5 text-white">
                            <path
                                d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                        </svg>
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
<!--! chat -->

