<!--! navbar -->
<nav [class]="isHeroVisible
  ? 'backdrop-blur-lg border border-white mx-4 my-4 rounded-2xl fixed top-0 right-0 left-0 z-50 transition-all duration-400 ease-in-out p-4'
   : 'bg-gray-200 mx-4 my-0 rounded-2xl fixed top-0 right-0 left-0 z-50 transition-all duration-400 ease-in-out p-2'">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
        <a class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="images/logo.png" [class]="isHeroVisible ?'h-16' : 'h-10' " alt="Logo">
            <span
                [class]="isHeroVisible ? 'self-center text-2xl font-semibold ps-3 py-3 border-l border-white text-white duration-300 ease-in-out' : 'self-center text-2xl font-semibold ps-3 py-3 border-l border-slate-950 text-slate-950 duration-300 ease-in-out' "><span
                    [class]="isHeroVisible ? 'text-3xl text-red-400' :'text-3xl text-red-700' ">M</span>ostashra<span
                    [class]="isHeroVisible ? 'text-3xl text-red-400' :'text-3xl text-red-700' ">Q.</span></span>
        </a>
        <div routerLink="/sign-up" class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse sm:text-center">
            <button type="button"
                class="text-white bg-slate-950 hover:bg-red-700  font-medium rounded-2xl text-sm px-4 py-4 text-center shadow-xl/30 transition-all">Get
                started</button>
        </div>
    </div>
</nav>
<!--! navbar -->
<main>
    <section id="vanta-bg" #vantaContainer class="w-full hero h-[90vh] rounded-b-3xl">
        <div class="relative isolate container mx-auto flex justify-center items-center h-screen rounded-b-3xl">
            <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
                aria-hidden="true">
                <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff0000] to-[red] opacity-30"
                    style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                </div>
            </div>
            <div class="grid grid-cols-1 lg:max-w-8xl mx-auto lg:grid-cols-2 rounded-b-3xl">
                <div
                    class="header backdrop-blur-lg shadow-2xl/40 rounded-3xl py-10 px-8 lg:py-24 lg:px-16 flex flex-col items-center justify-center text-center lg:text-left border border-white ">
                    <h1 class="text-5xl font-medium text-white mt-2 mb-4">Revolutionizing Egyptian Law with AI</h1>
                    <p class="text-lg font-semibold text-gray-300 mb-6 "> Experience the future of legal intelligence.
                        Our advanced AI platform simulates Egyptian legal
                        processes with unmatched accuracy, offering instant insights, case predictions, and
                        intelligent
                        legal support. Whether you're a lawyer, student, or citizen, empower your legal journey with
                        cutting-edge technology tailored for Egypt's legal system</p>
                    <form class="w-full  mt-8">
                        <label for="search"
                            class="mb-2 text-sm font-medium  sr-only text-white rounded-2xl">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 " aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="search" id="search"
                                class="block w-full p-5 ps-10 text-sm text-gray-900  border-0 rounded-3xl bg-slate-950  "
                                placeholder="Enter your email.." required />
                            <button type="submit"
                                class="text-slate-950 absolute end-2.5 bottom-2 bg-white hover:bg-red-100 focus:ring-slate-300 font-semibold rounded-2xl text-sm px-4 py-3">Sign
                                in</button>
                        </div>
                    </form>
                </div>
                <div
                    class="animation shadow-2xl/40 backdrop-blur-lg overflow-hidde bg-gray  my-10 rounded-l-none rounded-3xl py-10 px-8 lg:py-24 lg:px-16 flex flex-col items-center justify-center text-center lg:text-left ">
                    <div class="cube-container">
                        <div class="cube">
                            <div class="face front ">AI Egyptian Law</div>
                            <div class="face back">Simulating real cases </div>
                            <div class="face right">Explore the Future</div>
                            <div class="face left">Instant Legal Insights</div>
                            <div class="face top">Smart Legal Assistant</div>
                            <div class="face bottom">Built for Egypt</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mx-auto ">
        <!--! home -->
        <section id="home">
            <div class="bg-white lg:max-w-8xl mx-auto h-100vh flex items-center justify-center mt-40">
                <div class="relative isolate ">
                    <!--& bg-style -->
                    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
                        aria-hidden="true">
                        <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[black] to-[#ff0000] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                        </div>
                    </div>
                    <!--& bg-style -->
                    <!--^ header -->
                    <h2 class="text-center text-base/7 font-semibold text-red-800">Mostasharq</h2>
                    <p
                        class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">
                        Everything you need </p>
                    <!--^ header -->
                    <!--& grid -->
                    <div class="grid grid-cols md:grid-cols-3 my-28 ">
                        <!--^ col-1 -->
                        <div class="flex flex-col items-end gap-2">
                            <div
                                class="group relative bg-red-800 p-2 rounded-l-2xl px-4 py-12 mt-10 hover:translate-x-2.5 duration-300">
                                <!--! pop -->
                                <span>
                                    <!-- Modal toggle -->
                                    <button class="block text-white cursor-pointer" type="button" (click)="openModal()">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                            class="text-white w-8 h-8">
                                            <path fill-rule="evenodd"
                                                d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </button>
                                    <!-- فقط الـ tooltip هنا -->
                                    <div
                                        class="bg-slate-950 p-5 rounded-md group-hover:flex hidden absolute top-1/2 -translate-y-1/2 -left-2 -translate-x-full shadow-2xl/40 ">
                                        <span class="text-zinc-400 whitespace-nowrap font-medium text-lg">Search for a
                                            keyword , What's in your
                                            mind ?</span>
                                        <div
                                            class="bg-inherit rotate-45 p-1 absolute top-1/2 -translate-y-1/2 right-0 translate-x-1/2">
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <!-- <div
                            class="chat    flex-col rounded-3xl md:rounded-r-none my-auto border ">
                             <div>
                                <h1 class="text-slate-950 text-2xl text-center font-semibold mb-8 ">Enter your keyword
                                    to reach your goal faster</h1>
                                <form class="items-center max-w-lg mx-auto mt-8 w-full">
                                    <label for="voice-search" class="sr-only">Search</label>
                                    <div class="relative w-full">
                                        <div
                                            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z" />
                                            </svg>
                                        </div>
                                        <input type="text" id="voice-search"
                                            class="text-lg font-semibold bg-gray-300 border border-gray-300 text-gray-900 rounded-3xl block w-full ps-10 p-5 "
                                            placeholder="Ask anything..." required />
                                        <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 16 20">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M15 7v3a5.006 5.006 0 0 1-5 5H6a5.006 5.006 0 0 1-5-5V7m7 9v3m-3 0h6M7 1h2a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V4a3 3 0 0 1 3-3Z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="btn flex justify-center">
                                        <button type="submit" routerLink="['chat-ai']"
                                            class="flex items-center text-center text-sm font-medium text-white bg-slate-900 rounded-3xl px-10 py-4 my-4 shadow-2xl/30  hover:bg-slate-800 border border-slate-950   ">
                                            <svg class="w-4 h-4 me-2" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div> 
                        </div> -->
                        <!--^ col-1 -->
                        <!--^ col-2 -->
                        <div
                            class="bg-slate-950 rounded-3xl py-10 px-10 shadow-xl/50 text-center  md:hover:scale-105 transition-all duration-300 z-10  mx-auto max-w-2xl">
                            <h2 class="text-white text-3xl mb-6 font-medium">Your legal assistant using artificial
                                intelligence</h2>
                            <h4 class="text-zinc-500 text-xl mb-7">Use artificial intelligence to answer your legal
                                questions
                                with
                                answers based on Egypt laws.</h4>
                            <!--& content -->
                            <div class="flex justify-around mt-10 text-zinc-500 text-[1rem] font-semibold">
                                <div class="one mx-4 ">For consumers</div>
                                <div class="two mx-4 text-zinc-300 border-b-white border-b-2 border-white rounded pb-2">
                                    For
                                    lawyers
                                </div>
                                <div class="three mx-4">For companies and law firms</div>
                            </div>
                            <div class="active ">
                                <p class="text-zinc-300 mt-6 font-medium">Say goodbye to routine tasks. AI Lawyer
                                    automate
                                    your
                                    legal research and paperwork, granting you more free time.</p>
                            </div>
                            <!--& content -->
                        </div>
                        <!--^ col-2 -->
                        <!--& bg-style -->
                        <div class="absolute inset-x-0 left-[calc(100%-1rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:left-[calc(100%-2rem)]"
                            aria-hidden="true">
                            <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff0000] to-[black] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                            </div>
                        </div>
                        <!--& bg-style -->
                        <!--^ col-3 -->
                        <div class="flex flex-col items-start gap-2">
                            <div
                                class="group relative bg-red-800 p-2 rounded-r-2xl px-4 py-12 mt-64 hover:-translate-x-2.5 duration-300">
                                <span>
                                    <span>
                                        <!-- Modal toggle -->
                                        <button class="block text-white cursor-pointer" type="button"
                                            (click)="openModal()">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                fill="currentColor" class="w-8 h-8">
                                                <path
                                                    d="M4.913 2.658c2.075-.27 4.19-.408 6.337-.408 2.147 0 4.262.139 6.337.408 1.922.25 3.291 1.861 3.405 3.727a4.403 4.403 0 0 0-1.032-.211 50.89 50.89 0 0 0-8.42 0c-2.358.196-4.04 2.19-4.04 4.434v4.286a4.47 4.47 0 0 0 2.433 3.984L7.28 21.53A.75.75 0 0 1 6 21v-4.03a48.527 48.527 0 0 1-1.087-.128C2.905 16.58 1.5 14.833 1.5 12.862V6.638c0-1.97 1.405-3.718 3.413-3.979Z" />
                                                <path
                                                    d="M15.75 7.5c-1.376 0-2.739.057-4.086.169C10.124 7.797 9 9.103 9 10.609v4.285c0 1.507 1.128 2.814 2.67 2.94 1.243.102 2.5.157 3.768.165l2.782 2.781a.75.75 0 0 0 1.28-.53v-2.39l.33-.026c1.542-.125 2.67-1.433 2.67-2.94v-4.286c0-1.505-1.125-2.811-2.664-2.94A49.392 49.392 0 0 0 15.75 7.5Z" />
                                            </svg>
                                        </button>
                                        <!-- فقط الـ tooltip هنا -->
                                        <div
                                            class="bg-slate-950 p-5 rounded-md group-hover:flex hidden absolute top-1/2 -translate-y-1/2 -right-2 translate-x-full">
                                            <span class="text-zinc-400 whitespace-nowrap font-medium text-lg">Start the
                                                chat and
                                                we'll be with you shortly! 😊</span>
                                            <div
                                                class="bg-inherit rotate-45 p-1 absolute top-1/2 -translate-y-1/2 left-0 -translate-x-1/2">
                                            </div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <!-- <div
                            class="chat   py-10  md:px-8 bg-gray-100  flex-col rounded-3xl md:rounded-l-none my-auto border border-red-100 ">
                            <div>
                                <h1 class="text-slate-950 text-2xl text-center font-semibold mb-8 ">How can I help you ?
                                </h1>
                                <form class="items-center max-w-lg mx-auto mt-8 w-full">
                                    <label for="voice-search" class="sr-only">Search</label>
                                    <div class="relative w-full">
                                        <div
                                            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 21 21">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M11.15 5.6h.01m3.337 1.913h.01m-6.979 0h.01M5.541 11h.01M15 15h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 2.043 11.89 9.1 9.1 0 0 0 7.2 19.1a8.62 8.62 0 0 0 3.769.9A2.013 2.013 0 0 0 13 18v-.857A2.034 2.034 0 0 1 15 15Z" />
                                            </svg>
                                        </div>
                                        <input type="text" id="voice-search"
                                            class="text-sm  bg-gray-300 border border-gray-300 text-gray-900 rounded-3xl block w-full ps-10 p-5 "
                                            placeholder="Ask anything..." required />
                                        <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
                                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                viewBox="0 0 16 20">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2"
                                                    d="M15 7v3a5.006 5.006 0 0 1-5 5H6a5.006 5.006 0 0 1-5-5V7m7 9v3m-3 0h6M7 1h2a3 3 0 0 1 3 3v5a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V4a3 3 0 0 1 3-3Z" />
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="btn flex justify-center">
                                        <button type="submit" routerLink="['chat-ai']"
                                            class="flex items-center text-center text-sm font-medium text-white bg-slate-900 rounded-3xl px-10 py-4 my-4 shadow-2xl/30  hover:bg-slate-800 border border-slate-950   ">
                                         
                                        </button>
                                    </div>

                                </form>
                            </div> 
                        </div> -->
                        <!--^ col-3 -->
                    </div>
                    <!--& bg-style -->
                    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                        aria-hidden="true">
                        <div class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff0000] to-[black] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                        </div>
                    </div>
                    <!--& bg-style -->
                </div>
            </div>
        </section>
        <!--! home -->
        <!--! features -->
        <section id="about">
            <div class="grid">
                <div class=" pt-24 sm:pt-32">
                    <div class="mx-auto lg:max-w-6xl">
                        <!-- & for consumers -->
                        <!--! header  -->
                        <h2 class="text-center text-base/7 font-semibold text-red-800">Mostasharq Features</h2>
                        <p
                            class="mx-auto mt-2 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">
                            For Consumers </p>
                        <!--! header  -->
                        <!--! grid  -->
                        <div class="mt-10 grid sm:mt-16 lg:grid-cols-3 gap-x-10">
                            <div class="card">
                                <div class="content rounded-3xl">
                                    <h4 class="text-center text-lg font-bold">AI Legal Assistant</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Ask questions and get instant, easy-to-understand answers </p>
                                    <h4 class="text-center text-lg font-bold">Smart Law Search</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Quickly find laws, rights, and legal advice tailored to your needs </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content rounded-3xl">
                                    <h4 class="text-center text-lg font-bold">Talk to Real Lawyers</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Connect directly with experienced legal professionals </p>
                                    <h4 class="text-center text-lg font-bold">Affordable Access</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Enjoy premium legal services without high traditional costs </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="content rounded-3xl">
                                    <h4 class="text-center text-lg font-bold">Availability</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Get legal help anytime, anywhere, at your convenience </p>
                                    <h4 class="text-center text-lg font-bold">Personalized Guidance</h4>
                                    <p class="para font-semibold text-gray-200 text-center">
                                        Receive legal support customized to your specific situation </p>
                                </div>
                            </div>
                        </div>
                        <!--! grid  -->
                        <!-- & for consumers -->
                        <!-- & for lawyers-->
                        <!--! header  -->
                        <p
                            class="mx-auto mt-60 mb-10 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">
                            For Lawyers </p>
                        <!--! header  -->
                        <!--! grid  -->
                        <div class="mt-5 grid gap-10  lg:grid-cols-3 text-slate-950 ">
                            <div class="card-2 p-9  rounded-3xl">
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    AI Legal Research Assistant
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Instantly search and summarize case law, statutes, and precedents — save hours of
                                    research. </p>
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    Draft & Review Smarter
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Use AI to draft contracts, analyze documents, and spot inconsistencies or risky
                                    clauses.
                                </p>
                            </div>
                            <div class="card-2 p-9 rounded-3xl">
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    Streamlined Workflow
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Automate repetitive tasks like scheduling, billing, and document generation to focus
                                    more on legal strategy.
                                </p>
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    AI that Supports, Not Replaces, Your Expertise
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Enhance your legal work without compromising your professional judgment.
                                </p>
                            </div>
                            <div class="card-2 p-9  rounded-3xl">
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    Real-Time Legal Insights
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Stay updated with instant alerts and analysis of new laws and court decisions.
                                </p>
                                <h4 class="heading-2 text-center text-lg font-bold">
                                    Seamless Collaboration
                                </h4>
                                <p class="text-center font-semibold text-gray-600">
                                    Share documents, track changes, and communicate efficiently with clients and
                                    colleagues.
                                </p>

                            </div>
                        </div>
                        <!--! grid  -->
                        <!-- & for lawyers-->
                        <!-- & for company -->
                        <!--! header  -->
                        <p
                            class="mx-auto  mt-60 mb-10 max-w-lg text-center text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl">
                            For Companies </p>
                        <!--! header  -->
                        <!--! grid  -->
                        <div class="mt-5 grid gap-10 lg:grid-cols-3 ">
                            <div class="card-3">
                                <div class="content-3 hover:text-white">
                                    <h4 class="heading-3 text-center text-lg font-bold">Instant Contract Analysis</h4>
                                    <p class="para-3 text-center font-semibold">
                                        Use AI to review employment contracts, and vendor agreements — identify key
                                        terms and risks instantly.
                                    </p>
                                    <h4 class="heading-3 text-center text-lg font-bold">Compliance Monitoring</h4>
                                    <p class="para-3 text-center font-semibold">
                                        tay ahead of regulations with automated tracking tools that alert you to legal
                                        risks and policy changes.
                                    </p>
                                </div>
                            </div>
                            <div class="card-3">
                                <div class="content-3">
                                    <h4 class="heading-3 text-center text-lg font-bold">On-Demand Legal Insights</h4>
                                    <p class="para-3 text-center font-semibold">
                                        Get AI-generated legal insights tailored to your industry, whether you're
                                        launching a product or expanding globally.
                                    </p>
                                    <h4 class="heading-3 text-center text-lg font-bold">Integrate with Your Stack</h4>
                                    <p class="para-3 text-center font-semibold">
                                        Seamlessly connect our AI tools with your internal systems — HR, finance, legal
                                        — for end-to-end efficiency..
                                    </p>
                                </div>
                            </div>
                            <div class="card-3">
                                <div class="content-3">
                                    <h4 class="heading-3 text-center text-lg font-bold">Scale with Confidence</h4>
                                    <p class="para-3 text-center font-semibold">
                                        Whether you're a startup or enterprise, our AI-driven legal platform grows with
                                        your business needs.
                                    </p>
                                    <h4 class="heading-3 text-center text-lg font-bold">Data Privacy & Security First
                                    </h4>
                                    <p class="para-3 text-center font-semibold">
                                        Ensure sensitive legal data is handled with top-tier encryption and compliance
                                        with global privacy standards.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--! grid  -->
                        <!-- & for company -->
                    </div>
                </div>
            </div>
        </section>
        <!--! features -->
        <!--! pricing -->
        <section id="pricing">
            <div class="relative isolate bg-white py-24 my-40">
                <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
                    aria-hidden="true">
                    <div class="mx-auto aspect-1155/678 w-[72.1875rem] bg-linear-to-tr from-[#ff0000] to-[red] opacity-30"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>
                <div class="mx-auto max-w-4xl text-center">
                    <h2 class="text-base/7 font-semibold text-red-800">Pricing</h2>
                    <p class="mt-2 text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-6xl">Choose
                        the right
                        plan for you</p>
                </div>
                <p
                    class="mx-auto mt-6 max-w-2xl text-center text-lg font-medium text-pretty text-gray-600 sm:text-xl/8">
                    Choose an
                    affordable plan that's packed with the best features for engaging your audience, creating customer
                    loyalty, and
                    driving sales.</p>
                <div
                    class="mx-auto mt-16 grid  grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-6xl lg:grid-cols-3">
                    <div
                        class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-none lg:rounded-bl-3xl mx-3 md:mx-0">
                        <h3 id="tier-hobby" class="text-base/7 font-semibold text-red-800">Hobby</h3>
                        <p class="mt-4 flex items-baseline gap-x-2">
                            <span class="text-5xl font-semibold tracking-tight text-gray-900">$29</span>
                            <span class="text-base text-gray-500">/month</span>
                        </p>
                        <p class="mt-6 text-base/7 text-gray-600">The perfect plan if you're just getting started
                            with our
                            product.</p>
                        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                25 products
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Up to 10,000 subscribers
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Advanced analytics
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                24-hour support response time
                            </li>
                        </ul>
                        <a href="#" aria-describedby="tier-hobby"
                            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-red-800 ring-1 ring-red-200 ring-inset hover:ring-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">Get
                            started today</a>
                    </div>
                    <div class="relative rounded-3xl bg-slate-950 p-8 shadow-2xl ring-1 ring-gray-900/10 sm:p-10">
                        <h3 id="tier-enterprise" class="text-base/7 font-semibold text-red-500">Enterprise</h3>
                        <p class="mt-4 flex items-baseline gap-x-2">
                            <span class="text-5xl font-semibold tracking-tight text-white">$99</span>
                            <span class="text-base text-gray-400">/month</span>
                        </p>
                        <p class="mt-6 text-base/7 text-gray-300">Dedicated support and infrastructure for your company.
                        </p>
                        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-300 sm:mt-10">
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Unlimited products
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Unlimited subscribers
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Advanced analytics
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Dedicated support representative
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Marketing automations
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-500" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Custom integrations
                            </li>
                        </ul>
                        <a href="#" aria-describedby="tier-enterprise"
                            class="mt-8 block rounded-md bg-red-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 sm:mt-10">Get
                            started today</a>
                    </div>
                    <div
                        class="rounded-3xl rounded-t-3xl bg-white/60 p-8 ring-1 ring-gray-900/10 sm:mx-8 sm:rounded-b-none sm:p-10 lg:mx-0 lg:rounded-tr-3xl lg:rounded-tl-none lg:rounded-br-3xl mx-3 md:mx-0">
                        <h3 id="tier-hobby" class="text-base/7 font-semibold text-red-800">Hobby</h3>
                        <p class="mt-4 flex items-baseline gap-x-2">
                            <span class="text-5xl font-semibold tracking-tight text-gray-900">$29</span>
                            <span class="text-base text-gray-500">/month</span>
                        </p>
                        <p class="mt-6 text-base/7 text-gray-600">The perfect plan if you're just getting started
                            with our
                            product.</p>
                        <ul role="list" class="mt-8 space-y-3 text-sm/6 text-gray-600 sm:mt-10">
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                25 products
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Up to 10,000 subscribers
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                Advanced analytics
                            </li>
                            <li class="flex gap-x-3">
                                <svg class="h-6 w-5 flex-none text-red-800" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true" data-slot="icon">
                                    <path fill-rule="evenodd"
                                        d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                                        clip-rule="evenodd" />
                                </svg>
                                24-hour support response time
                            </li>
                        </ul>
                        <a href="#" aria-describedby="tier-hobby"
                            class="mt-8 block rounded-md px-3.5 py-2.5 text-center text-sm font-semibold text-red-800 ring-1 ring-red-200 ring-inset hover:ring-red-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:mt-10">Get
                            started today</a>
                    </div>
                </div>
            </div>

        </section>
        <!--! pricing -->
    </div>
</main>
<!--! footer -->
<footer class="bg-slate-950  shadow-sm text-center mx-4 rounded-2xl mt-4">
    <div class="  p-4 flex items-center justify-between">
        <span class="text-sm text-white text-center font-medium mx-auto ">© 2025 <a class="hover:underline"><span
                    class="text-lg text-red-500">Rana Hani™</span></a>. All Rights Reserved.
        </span>

    </div>
</footer>
<!--! footer -->

<!-- بعد الـ div الخاص بالزر والـ tooltip مباشرة -->
<div *ngIf="isModalOpen" class="fixed inset-0 z-50 flex items-center justify-center transition-all duration-800"
    aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/30 backdrop-blur-sm" (click)="closeModal()"></div>
    <!-- Modal panel -->
    <div
        class="relative bg-gray-200 rounded-3xl shadow-2xl/40  w-[50%]  mx-4 px-10 py-16 z-10 transition-all duration-800 h-[80vh] ">
        <h3 class="text-2xl font-semibold text-red-800 mb-4 text-center">Search for a keyword</h3>
        <div class="chat overflow-y-scroll h-[50vh] ">
            <div class="request bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[25%] ms-auto rounded-tr-none">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="response rounded-bl-none bg-red-50 text-slate-950  p-6 rounded-2xl shadow-2xl/20 w-[45%]">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo voluptatibus commodi, iure
                    perspiciatis porro.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo
                    voluptatibus
                    commodi, iure
                    perspiciatis porro.</p>
            </div>
            <div class="request rounded-tr-none bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[35%] ms-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="response rounded-bl-none bg-red-50 text-slate-950  p-6 rounded-2xl shadow-2xl/20 w-[40%]">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt quo voluptatibus commodi, iure
                    perspiciatis porro.</p>
            </div>
            <div class="request rounded-tr-none bg-slate-950 text-white p-6 rounded-2xl shadow-2xl/20 w-[35%] ms-auto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
        <form class="w-full">

            <input type="text"
                class="w-full p-4 mt-4 mb-6 text-white bg-slate-950 rounded-2xl focus:ring-2 focus:ring-red-500 focus:border-transparent"
                placeholder="What's in your mind?">
        </form>
        <div class="flex gap-4 justify-center">
            <button type="button"
                class="bg-red-800 hover:bg-red-600 text-white rounded-2xl px-6 py-2 font-medium shadow-xl/30"
                >Search</button>
            <button type="button"
                class="bg-slate-800 hover:bg-slate-700 text-white rounded-2xl px-6 py-2 font-medium border border-gray-700"
                (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>